@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
* {
  box-sizing: border-box;
}

html {
  background: rgba(171, 34, 60, 1);
}

body, html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.chat-output {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  margin-top:5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius:15px;
  overflow: auto
}
.chat-output > div {
  margin: 0 0 20px 0;
  margin-bottom: 20px;
}


a {
    color: white;
}

.chat-output .user-message .message {
  background: #0FB0DF;
  color: white;
}
.chat-output .bot-message {
  text-align: right;
}
.chat-output .bot-message .message {
  background: #eee;
}
.chat-output .message {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 10px;
}

.chat-input {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(171, 34, 60, 1);
  border: 1px;
  border-bottom: 0;
}
.chat-input .user-input {
  width: 80%;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 8px;
}


.chat-input .enviar {
  width: 17%;
  font-size: 2rem;
  text-align: center;
  border: 1px;
  border-radius: 15px;
  padding: 8px;
  display: inline-block;
  margin-left: 12px;
  background: #0FB0DF;
  color: white;
  cursor: pointer;

}

.buttonPanel{
	text-align: center;
	float:left;
	display: inline-block;
	vertical-align: middle;
	padding-top: 5px;
	color: white;
	}

.buttonPanel .sugBut {
  width: auto;
  font-size: 1rem;
  text-align: center;
  border: 1px;
  border-radius: 15px;
  padding: 12px;
  display: inline-block;
  background: #0FB0DF;
  color: white;
  cursor: pointer;
  float:left;
  margin-left: 12px;
}


.buttonPanel .multBut {
  width: auto;
  font-size: 1rem;
  text-align: center;
  border: 1px;
  border-radius: 15px;
  padding: 12px;
  display: inline-block;
  background: #0FB0DF;
  color: white;
  cursor: pointer;
  float:left;
  margin-left: 12px;
}

.multipleForm{
  float:left
}


/************************************************************/


.rate {
    border: 1px;
    float: left;
    height: 46px;
    padding: 0 10px;
    text-align: center;
    color: white;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: "\2605";
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}