@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

html, body{
	margin:0;
	height: 100%;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #111;
}

#nav .active {
    background-color: #ab223c;
}

.content{
	margin: 5px;
	display: flex;
	flex-flow: column;
	flex:1;
	padding-top: 50px;
	padding-bottom: 50px;
	}
	
.saveMenu{
	display: flex;
    align-items: center;
	padding: 15px;
}

#saveButtons li a {
	cursor: pointer;
	font-size: 16px;
	color:#bc360a;
}

.divtable{
	padding: 15px;
	display: grid;
}

.actionform{
	margin: 0px;
	margin-top: 3px;
}

#button{

  text-align: center;
  border: 1px;
  border-radius: 4px;
  padding: 6px;
  color: white;
  cursor: pointer;
}

.aprender{
	background: #2fd006;
}

.descartar{
	background: #c41325;
}

.addForm{
	padding:15px;
	display: table;
}

input[type=text] {
    width: 150%;
	padding: 6px 10px;
	margin: 6px 0;
	margin-left:5px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    display: table-cell;
    font-size: 1.5em;
}

input[type=text]:focus {
    border: 3px solid #0FB0DF;
    color: #0FB0DF;
}

.txt{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	display: table-cell;
}

.pForm{ 
	display: table-row;  
}

.aceptButton{
	font-size: 1.5em;
	background-color: #0FB0DF;
	color: white;
	border: 0;
	margin-top: 30px;
	width: 157px;
	height: 50px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.aceptButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#error{
	display:none; 
	color:red;
	font-size: 1.5em;
	padding: 15px;
}

.buttonsDiv{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.formClear{
	margin: auto;
}


/*** Button ***/

.saveas{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
}

.saveas span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.saveas span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.saveas:hover span {
  padding-right: 25px;
}

.saveas:hover span:after {
  opacity: 1;
  right: 0;
}


.clean{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
}




/*** End Button ***/
	





/* Header */

#header {
	padding: 1em 0 1em 0;
	background-color: #ab223c;
	color: rgba(255, 255, 255, 0.75);
	background-attachment: fixed;
	background-size: auto;
	overflow: hidden;
	position: relative;
	text-align: center;
}
	
#header .inner{
	margin-top: 50px;
}

#header h1, #header h2, #header strong{
	color: #ffffff;
	margin: 0;
}


#header .button {
	box-shadow: inset 0 0 0 1px #ffffff;
	color: #ffffff !important;
}


#header .actions {
	margin: 2.5em 0 0 0;
	position: relative;
}

#header .actions:after {
	background: #ffffff;
	content: '';
	height: 100vh;
	left: 50%;
	position: absolute;
	top: 100%;
	width: 1px;
}

/* End header */
			
#tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
}

#tabla td, #tabla th {
    border: 1px solid #ddd;
    padding: 8px;
    
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0FB0DF;
    color: white;
}

#tabla td{
	text-align: center;

}



/* Footer */

#footer {
	padding: 3em 0 1em 0 ;
	background-color: #3a3a3a;
	color: rgba(255, 255, 255, 0.75);
	background-attachment: fixed;
	background-size: auto;
	text-align: center;
	
	
}

.copyright {
	font-size: 0.8em;
	list-style: none;
	margin: unset;
}

.copyright li {
	border-left: solid 1px;
	display: inline-block;
	line-height: 1em;
	margin-left: 1em;
	padding: 0 0 0 1em;
}

.copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding: 0;
}

/* List */

#footer ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	font-size: 1.5em;
	
}

#footer ul.icons li {
	
	display: inline-block;
	padding: 0 1.25em 0 0;
	
}

#footer ul.icons li:last-child {
	padding-right: 0;
}


